---
export interface Props {
  /** The Legend of the section */
  legend: string;
  data: { img: string; title: string; description: string; price: string }[];
  showCTA?: boolean;
}

const { legend, data, showCTA = false } = Astro.props;

import CoffeListCard from "./CoffeListCard.astro";
---

<section class="bg-#191919 relative z-1">
  <!-- SECTION LEGEND -->
  <div class="abs top-0 translate-y--50% left-0 w-full">
    <h1
      class:list={[
        "text-3xl relative w-max mx-a md-text-4xl lg-text-5xl",
        "before:(content-empty abs top-50% translate-y--1/2)",
        "before:(right-105% w-50px h-2px bg-#fff z-0 md-w-80px)",

        "after:(content-empty abs top-50% translate-y--1/2)",
        "after:(left-105% w-50px h-2px bg-#fff z-0 md-w-80px)",
      ]}
    >
      {legend}
    </h1>
  </div>

  <!-- SECTION CONTENT -->
  <div class="py-12">
    <div class="splide">
      <div class="splide__track">
        <ul class="splide__list max-w-7xl lg-mx-a!">
          {
            data.map(({ img, title, description, price }) => (
              <li class="splide__slide">
                <CoffeListCard {img} {title} {description} {price} />
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </div>

  <!-- SECTION CTA -->
  <a
    class:list={[
      "absolute left-50% bottom-0 translate-(x--50% y-50%)",
      "bg-primary px-5 py-2 font-poppins br-lg",
      showCTA ? "block" : "hidden",
    ]}
    href="/menu">Menu</a
  >
</section>

<script>
  import "@splidejs/splide/css";
  // or other themes
  // import "@splidejs/splide/css/skyblue";
  import "@splidejs/splide/css/sea-green";

  // or only core styles
  // import "@splidejs/splide/css/core";

  import Splide from "@splidejs/splide";

  new Splide(".splide", {
    mediaQuery: "min",
    perPage: 1,
    breakpoints: {
      768: {
        perPage: 2,
        gap: "20px",
      },
      1024: {
        perPage: 3,
        gap: "40px",
        arrows: false,
        drag: false,
        pagination: false,
      },
    },
  }).mount();
</script>
